.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 0;
  /* padding-top: 1rem; */
  background-color: rgba(0, 0, 0, 0.03);
  /* height: 1000px; */
}

.py {
  padding-top: 10px;
}
